node_modules/
.dist/
.next/
.env*
dist/
Dockerfile.local
.git-credentials
api/prisma/*.db
api/prisma/*.db-journal
!api/.env.example

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
e2e/.auth/

# Playwright
/blob-report/
/playwright/.auth/
